@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Help Centre styles */
.help-card {
  cursor: pointer;
}

.help-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Swiper full width styles */
.swiper {
  width: 100% !important;
  --swiper-slide-padding: 20px;
}

.swiper-slide {
  width: 100% !important;
  box-sizing: border-box;
}

.swiper-slide .MuiPaper-root {
  box-shadow: none;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  border-radius: 2rem;
  background-color: white;
  width: 2rem;
  height: 2rem;
}

.swiper .swiper-button-prev {
  left: 1rem !important;
}

.swiper .swiper-button-next {
  right: 1rem !important;
}

.swiper .swiper-button-prev svg,
.swiper .swiper-button-next svg {
  width: 1rem;
  height: 1rem;
}

.swiper .swiper-button-prev svg path,
.swiper .swiper-button-next svg path {
  fill: var(--foreground);
}