@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Sync breakpoints with MUI */
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto, Arial, sans-serif',
}

a {
  color: #2b7fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Centered layout utility */
.center-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Help Centre styles */
.card-hover {
  cursor: pointer;
}

.card-hover:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Swiper full width styles */
.swiper {
  width: 100% !important;
  --swiper-slide-padding: 20px;
}

.swiper-slide {
  width: 100% !important;
  box-sizing: border-box;
}

.swiper-slide .MuiPaper-root {
  box-shadow: none;
}

.swiper .swiper-pagination-bullet {
  transition: width 0.3s ease;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 2em;
  border-radius: 1em;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  border-radius: 2rem;
  background-color: white;
  width: 2rem;
  height: 2rem;
}

.swiper .swiper-button-prev {
  left: 1rem !important;
}

.swiper .swiper-button-next {
  right: 1rem !important;
}

.swiper .swiper-button-prev svg,
.swiper .swiper-button-next svg {
  width: 1rem;
  height: 1rem;
}

.swiper .swiper-button-prev svg path,
.swiper .swiper-button-next svg path {
  fill: var(--foreground);
}